.row{
    height: 100px;
    width: 100%;
    float: left;
}

.box{
    height: 80px;
    width: 80px;
    float: left;
    font-size:60px;
    text-align: center;
   
}

.box:hover{
    background: #FF7F50;
    transition: 0.5s linear ;
    cursor: pointer;
}
.black{
    background-color:#f5f5b8;
}